<include file="Public:editor" />
<div class="datagrid-toolbar form-panel">
    <table>
        <tr>
            <td width="100%">
                <a class="easyui-linkbutton" iconCls="icon-save" plain="true" onclick="onSubmit()">保存</a>
            </td>
        </tr>
    </table>
</div>
<form data-url="{:U('save')}" method="post" class="content-layout">
    <div class="easyui-panel" title="题目表单" style="padding:10px;">
        <table class="form-panel">
            <tr>
                <th>广告标题：</th>
                <td>
                    <input name="ad_title" class="easyui-textbox" value="{$info.ad_title}" size="45" data-options="required:true">
                </td>
            </tr>
            <tr>
                <th>广告图：</th>
                <td id="ad_upload">
                    <volist name="info.ad_config" id="vo" key="key">
                        <div class="ad_upload">
                            <input class="easyui-textbox" name="ad_img[]" data-options="prompt:'图片路径...',buttonText:'选择图片', width:'350px', onClickButton: function(){onUpload(this);}" value="{$vo.img}">
                            <input class="easyui-textbox" name="ad_href[]" data-options="prompt:'请输入连接...', width:'250px'" value="{$vo.href}">
                            <input class="easyui-textbox" name="ad_width[]" data-options="prompt:'宽度...', width:'50px'" value="{$vo.width}">
                            <input class="easyui-textbox" name="ad_height[]" data-options="prompt:'高度...', width:'50px'" value="{$vo.height}">
                            <a class="easyui-linkbutton" onclick="removeImg(this)">-</a>
                        </div>
                    </volist>
                    <div class="ad_upload">
                        <input class="easyui-textbox" name="ad_img[]" data-options="prompt:'图片路径...',buttonText:'选择图片', width:'350px', onClickButton: function(){onUpload(this);}">
                        <input class="easyui-textbox" name="ad_href[]" data-options="prompt:'请输入连接...', width:'250px'">
                        <input class="easyui-textbox" name="ad_width[]" data-options="prompt:'宽度...', width:'50px'">
                        <input class="easyui-textbox" name="ad_height[]" data-options="prompt:'高度...', width:'50px'">
                        <a class="easyui-linkbutton" onclick="addImg(this)">+</a>
                    </div>
                </td>
            </tr>
        </table>
        <div class="panel-footer" style="padding:5px;">
            <textarea id="content" style="display: none;"></textarea>
            <input type="hidden" name="ad_id" value="{$info.ad_id}">
            <a class="easyui-linkbutton button-large" iconCls="icon-save" onclick="onSubmit()"> 保存</a>
        </div>
    </div>

</form>
<script type="text/javascript">
    var ue;
    $(function(){
        ue = UE.getEditor('content',{
            hide:true,
            onready: function(){
                this.hide();
            }
        });
    });

    function addImg(obj) {
        var self = $(obj);
        var elem = self.parents('.ad_upload');
        var newDiv = $('<div></div>');
        newDiv.addClass('ad_upload');
        var newInput = $('<input>');
        newInput.attr({
            'name': 'ad_img[]'
        });
        newInput.appendTo(newDiv);
        newInput.textbox({
            prompt: '图片路径...',
            buttonText: '选择图片',
            width: '350px',
            onClickButton: function() {
                onUpload(this);
            }
        });
        newInput = $('<input>');
        newInput.attr({
            'name': 'ad_href[]'
        });
        newInput.appendTo(newDiv);
        newInput.textbox({
            prompt: '请输入连接...',
            width: '250px'
        });
        newInput = $('<input>');
        newInput.attr({
            'name': 'ad_width[]'
        });
        newInput.appendTo(newDiv);
        newInput.textbox({
            prompt: '宽度...',
            width: '50px'
        });
        newInput = $('<input>');
        newInput.attr({
            'name': 'ad_height[]'
        });
        newInput.appendTo(newDiv);
        newInput.textbox({
            prompt: '高度...',
            width: '50px'
        });

        var newA = $('<a></a>');
        newA.appendTo(newDiv);
        newA.linkbutton({
            text:'-',
            onClick: function() {
                removeImg(this);
            }
        })
        newDiv.insertBefore(elem);
    }

    function removeImg(obj) {
        var self = $(obj);
        var elem = self.parents('.ad_upload');
        elem.remove();
    }

    function onUpload(obj) {
        var upload = $(obj);
        var readyHandler = function(t, args){
            upload.textbox('setValue', args[0].src);
            delete upload;
            ue.removeListener('afterinsertimage', readyHandler);
        };
        ue.addListener('afterinsertimage', readyHandler);

        var dlg = ue.getDialog("insertimage");
        dlg.render();
        dlg.open();

    }

    function onSubmit(){
        easyui.submit('.content-layout', function(result){
            try{
                easyui.confirm(result.info + '是否关闭窗口？', function(isOk){
                    if(isOk) {
                        parent.closeTab();
                        return;
                    }
                });
            }catch (e){}
        })
    }
    initUploadImage('#thumb_img');
</script>