<style>
    .icon-row { line-height: 25px; padding: 10px;}
    .icon-row a {display: inline-block; width: 220px; text-indent: 10px; cursor: pointer;}
</style>
<div class="icon-row">
    <a class="fa fa-adjust"> fa-adjust</a>
    <a class="fa fa-adn"> fa-adn</a>
    <a class="fa fa-align-center"> fa-align-center</a>
    <a class="fa fa-align-justify"> fa-align-justify</a>
    <a class="fa fa-align-left"> fa-align-left</a>
    <a class="fa fa-align-right"> fa-align-right</a>
    <a class="fa fa-ambulance"> fa-ambulance</a>
    <a class="fa fa-anchor"> fa-anchor</a>
    <a class="fa fa-android"> fa-android</a>
    <a class="fa fa-angellist"> fa-angellist</a>
    <a class="fa fa-angle-double-down"> fa-angle-double-down</a>
    <a class="fa fa-angle-double-left"> fa-angle-double-left</a>
    <a class="fa fa-angle-double-right"> fa-angle-double-right</a>
    <a class="fa fa-angle-double-up"> fa-angle-double-up</a>
    <a class="fa fa-angle-down"> fa-angle-down</a>
    <a class="fa fa-angle-left"> fa-angle-left</a>
    <a class="fa fa-angle-right"> fa-angle-right</a>
    <a class="fa fa-angle-up"> fa-angle-up</a>
    <a class="fa fa-apple"> fa-apple</a>
    <a class="fa fa-archive"> fa-archive</a>
    <a class="fa fa-area-chart"> fa-area-chart</a>
    <a class="fa fa-arrow-circle-down"> fa-arrow-circle-down</a>
    <a class="fa fa-arrow-circle-left"> fa-arrow-circle-left</a>
    <a class="fa fa-arrow-circle-o-down"> fa-arrow-circle-o-down</a>
    <a class="fa fa-arrow-circle-o-left"> fa-arrow-circle-o-left</a>
    <a class="fa fa-arrow-circle-o-right"> fa-arrow-circle-o-right</a>
    <a class="fa fa-arrow-circle-o-up"> fa-arrow-circle-o-up</a>
    <a class="fa fa-arrow-circle-right"> fa-arrow-circle-right</a>
    <a class="fa fa-arrow-circle-up"> fa-arrow-circle-up</a>
    <a class="fa fa-arrow-down"> fa-arrow-down</a>
    <a class="fa fa-arrow-left"> fa-arrow-left</a>
    <a class="fa fa-arrow-right"> fa-arrow-right</a>
    <a class="fa fa-arrow-up"> fa-arrow-up</a>
    <a class="fa fa-arrows"> fa-arrows</a>
    <a class="fa fa-arrows-alt"> fa-arrows-alt</a>
    <a class="fa fa-arrows-h"> fa-arrows-h</a>
    <a class="fa fa-arrows-v"> fa-arrows-v</a>
    <a class="fa fa-asterisk"> fa-asterisk</a>
    <a class="fa fa-at"> fa-at</a>
    <a class="fa fa-automobile"> fa-automobile</a>
    <a class="fa fa-backward"> fa-backward</a>
    <a class="fa fa-ban"> fa-ban</a>
    <a class="fa fa-bank"> fa-bank</a>
    <a class="fa fa-bar-chart"> fa-bar-chart</a>
    <a class="fa fa-bar-chart-o"> fa-bar-chart-o</a>
    <a class="fa fa-barcode"> fa-barcode</a>
    <a class="fa fa-bars"> fa-bars</a>
    <a class="fa fa-bed"> fa-bed</a>
    <a class="fa fa-beer"> fa-beer</a>
    <a class="fa fa-behance"> fa-behance</a>
    <a class="fa fa-behance-square"> fa-behance-square</a>
    <a class="fa fa-bell"> fa-bell</a>
    <a class="fa fa-bell-o"> fa-bell-o</a>
    <a class="fa fa-bell-slash"> fa-bell-slash</a>
    <a class="fa fa-bell-slash-o"> fa-bell-slash-o</a>
    <a class="fa fa-bicycle"> fa-bicycle</a>
    <a class="fa fa-binoculars"> fa-binoculars</a>
    <a class="fa fa-birthday-cake"> fa-birthday-cake</a>
    <a class="fa fa-bitbucket"> fa-bitbucket</a>
    <a class="fa fa-bitbucket-square"> fa-bitbucket-square</a>
    <a class="fa fa-bitcoin"> fa-bitcoin</a>
    <a class="fa fa-bold"> fa-bold</a>
    <a class="fa fa-bolt"> fa-bolt</a>
    <a class="fa fa-bomb"> fa-bomb</a>
    <a class="fa fa-book"> fa-book</a>
    <a class="fa fa-bookmark"> fa-bookmark</a>
    <a class="fa fa-bookmark-o"> fa-bookmark-o</a>
    <a class="fa fa-briefcase"> fa-briefcase</a>
    <a class="fa fa-btc"> fa-btc</a>
    <a class="fa fa-bug"> fa-bug</a>
    <a class="fa fa-building"> fa-building</a>
    <a class="fa fa-building-o"> fa-building-o</a>
    <a class="fa fa-bullhorn"> fa-bullhorn</a>
    <a class="fa fa-bullseye"> fa-bullseye</a>
    <a class="fa fa-bus"> fa-bus</a>
    <a class="fa fa-buysellads"> fa-buysellads</a>
    <a class="fa fa-cab"> fa-cab</a>
    <a class="fa fa-calculator"> fa-calculator</a>
    <a class="fa fa-calendar"> fa-calendar</a>
    <a class="fa fa-calendar-o"> fa-calendar-o</a>
    <a class="fa fa-camera"> fa-camera</a>
    <a class="fa fa-camera-retro"> fa-camera-retro</a>
    <a class="fa fa-car"> fa-car</a>
    <a class="fa fa-caret-down"> fa-caret-down</a>
    <a class="fa fa-caret-left"> fa-caret-left</a>
    <a class="fa fa-caret-right"> fa-caret-right</a>
    <a class="fa fa-caret-square-o-down"> fa-caret-square-o-down</a>
    <a class="fa fa-caret-square-o-left"> fa-caret-square-o-left</a>
    <a class="fa fa-caret-square-o-right"> fa-caret-square-o-right</a>
    <a class="fa fa-caret-square-o-up"> fa-caret-square-o-up</a>
    <a class="fa fa-caret-up"> fa-caret-up</a>
    <a class="fa fa-cart-arrow-down"> fa-cart-arrow-down</a>
    <a class="fa fa-cart-plus"> fa-cart-plus</a>
    <a class="fa fa-cc"> fa-cc</a>
    <a class="fa fa-cc-amex"> fa-cc-amex</a>
    <a class="fa fa-cc-discover"> fa-cc-discover</a>
    <a class="fa fa-cc-mastercard"> fa-cc-mastercard</a>
    <a class="fa fa-cc-paypal"> fa-cc-paypal</a>
    <a class="fa fa-cc-stripe"> fa-cc-stripe</a>
    <a class="fa fa-cc-visa"> fa-cc-visa</a>
    <a class="fa fa-certificate"> fa-certificate</a>
    <a class="fa fa-chain"> fa-chain</a>
    <a class="fa fa-chain-broken"> fa-chain-broken</a>
    <a class="fa fa-check"> fa-check</a>
    <a class="fa fa-check-circle"> fa-check-circle</a>
    <a class="fa fa-check-circle-o"> fa-check-circle-o</a>
    <a class="fa fa-check-square"> fa-check-square</a>
    <a class="fa fa-check-square-o"> fa-check-square-o</a>
    <a class="fa fa-chevron-circle-down"> fa-chevron-circle-down</a>
    <a class="fa fa-chevron-circle-left"> fa-chevron-circle-left</a>
    <a class="fa fa-chevron-circle-right"> fa-chevron-circle-right</a>
    <a class="fa fa-chevron-circle-up"> fa-chevron-circle-up</a>
    <a class="fa fa-chevron-down"> fa-chevron-down</a>
    <a class="fa fa-chevron-left"> fa-chevron-left</a>
    <a class="fa fa-chevron-right"> fa-chevron-right</a>
    <a class="fa fa-chevron-up"> fa-chevron-up</a>
    <a class="fa fa-child"> fa-child</a>
    <a class="fa fa-circle"> fa-circle</a>
    <a class="fa fa-circle-o"> fa-circle-o</a>
    <a class="fa fa-circle-o-notch"> fa-circle-o-notch</a>
    <a class="fa fa-circle-thin"> fa-circle-thin</a>
    <a class="fa fa-clipboard"> fa-clipboard</a>
    <a class="fa fa-clock-o"> fa-clock-o</a>
    <a class="fa fa-close"> fa-close</a>
    <a class="fa fa-cloud"> fa-cloud</a>
    <a class="fa fa-cloud-download"> fa-cloud-download</a>
    <a class="fa fa-cloud-upload"> fa-cloud-upload</a>
    <a class="fa fa-cny"> fa-cny</a>
    <a class="fa fa-code"> fa-code</a>
    <a class="fa fa-code-fork"> fa-code-fork</a>
    <a class="fa fa-codepen"> fa-codepen</a>
    <a class="fa fa-coffee"> fa-coffee</a>
    <a class="fa fa-cog"> fa-cog</a>
    <a class="fa fa-cogs"> fa-cogs</a>
    <a class="fa fa-columns"> fa-columns</a>
    <a class="fa fa-comment"> fa-comment</a>
    <a class="fa fa-comment-o"> fa-comment-o</a>
    <a class="fa fa-comments"> fa-comments</a>
    <a class="fa fa-comments-o"> fa-comments-o</a>
    <a class="fa fa-compass"> fa-compass</a>
    <a class="fa fa-compress"> fa-compress</a>
    <a class="fa fa-connectdevelop"> fa-connectdevelop</a>
    <a class="fa fa-copy"> fa-copy</a>
    <a class="fa fa-copyright"> fa-copyright</a>
    <a class="fa fa-credit-card"> fa-credit-card</a>
    <a class="fa fa-crop"> fa-crop</a>
    <a class="fa fa-crosshairs"> fa-crosshairs</a>
    <a class="fa fa-css3"> fa-css3</a>
    <a class="fa fa-cube"> fa-cube</a>
    <a class="fa fa-cubes"> fa-cubes</a>
    <a class="fa fa-cut"> fa-cut</a>
    <a class="fa fa-cutlery"> fa-cutlery</a>
    <a class="fa fa-dashboard"> fa-dashboard</a>
    <a class="fa fa-dashcube"> fa-dashcube</a>
    <a class="fa fa-database"> fa-database</a>
    <a class="fa fa-dedent"> fa-dedent</a>
    <a class="fa fa-delicious"> fa-delicious</a>
    <a class="fa fa-desktop"> fa-desktop</a>
    <a class="fa fa-deviantart"> fa-deviantart</a>
    <a class="fa fa-diamond"> fa-diamond</a>
    <a class="fa fa-digg"> fa-digg</a>
    <a class="fa fa-dollar"> fa-dollar</a>
    <a class="fa fa-dot-circle-o"> fa-dot-circle-o</a>
    <a class="fa fa-download"> fa-download</a>
    <a class="fa fa-dribbble"> fa-dribbble</a>
    <a class="fa fa-dropbox"> fa-dropbox</a>
    <a class="fa fa-drupal"> fa-drupal</a>
    <a class="fa fa-edit"> fa-edit</a>
    <a class="fa fa-eject"> fa-eject</a>
    <a class="fa fa-ellipsis-h"> fa-ellipsis-h</a>
    <a class="fa fa-ellipsis-v"> fa-ellipsis-v</a>
    <a class="fa fa-empire"> fa-empire</a>
    <a class="fa fa-envelope"> fa-envelope</a>
    <a class="fa fa-envelope-o"> fa-envelope-o</a>
    <a class="fa fa-envelope-square"> fa-envelope-square</a>
    <a class="fa fa-eraser"> fa-eraser</a>
    <a class="fa fa-eur"> fa-eur</a>
    <a class="fa fa-euro"> fa-euro</a>
    <a class="fa fa-exchange"> fa-exchange</a>
    <a class="fa fa-exclamation"> fa-exclamation</a>
    <a class="fa fa-exclamation-circle"> fa-exclamation-circle</a>
    <a class="fa fa-exclamation-triangle"> fa-exclamation-triangle</a>
    <a class="fa fa-expand"> fa-expand</a>
    <a class="fa fa-external-link"> fa-external-link</a>
    <a class="fa fa-external-link-square"> fa-external-link-square</a>
    <a class="fa fa-eye"> fa-eye</a>
    <a class="fa fa-eye-slash"> fa-eye-slash</a>
    <a class="fa fa-eyedropper"> fa-eyedropper</a>
    <a class="fa fa-facebook"> fa-facebook</a>
    <a class="fa fa-facebook-f"> fa-facebook-f</a>
    <a class="fa fa-facebook-official"> fa-facebook-official</a>
    <a class="fa fa-facebook-square"> fa-facebook-square</a>
    <a class="fa fa-fast-backward"> fa-fast-backward</a>
    <a class="fa fa-fast-forward"> fa-fast-forward</a>
    <a class="fa fa-fax"> fa-fax</a>
    <a class="fa fa-female"> fa-female</a>
    <a class="fa fa-fighter-jet"> fa-fighter-jet</a>
    <a class="fa fa-file"> fa-file</a>
    <a class="fa fa-file-archive-o"> fa-file-archive-o</a>
    <a class="fa fa-file-audio-o"> fa-file-audio-o</a>
    <a class="fa fa-file-code-o"> fa-file-code-o</a>
    <a class="fa fa-file-excel-o"> fa-file-excel-o</a>
    <a class="fa fa-file-image-o"> fa-file-image-o</a>
    <a class="fa fa-file-movie-o"> fa-file-movie-o</a>
    <a class="fa fa-file-o"> fa-file-o</a>
    <a class="fa fa-file-pdf-o"> fa-file-pdf-o</a>
    <a class="fa fa-file-photo-o"> fa-file-photo-o</a>
    <a class="fa fa-file-picture-o"> fa-file-picture-o</a>
    <a class="fa fa-file-powerpoint-o"> fa-file-powerpoint-o</a>
    <a class="fa fa-file-sound-o"> fa-file-sound-o</a>
    <a class="fa fa-file-text"> fa-file-text</a>
    <a class="fa fa-file-text-o"> fa-file-text-o</a>
    <a class="fa fa-file-video-o"> fa-file-video-o</a>
    <a class="fa fa-file-word-o"> fa-file-word-o</a>
    <a class="fa fa-file-zip-o"> fa-file-zip-o</a>
    <a class="fa fa-files-o"> fa-files-o</a>
    <a class="fa fa-film"> fa-film</a>
    <a class="fa fa-filter"> fa-filter</a>
    <a class="fa fa-fire"> fa-fire</a>
    <a class="fa fa-fire-extinguisher"> fa-fire-extinguisher</a>
    <a class="fa fa-flag"> fa-flag</a>
    <a class="fa fa-flag-checkered"> fa-flag-checkered</a>
    <a class="fa fa-flag-o"> fa-flag-o</a>
    <a class="fa fa-flash"> fa-flash</a>
    <a class="fa fa-flask"> fa-flask</a>
    <a class="fa fa-flickr"> fa-flickr</a>
    <a class="fa fa-floppy-o"> fa-floppy-o</a>
    <a class="fa fa-folder"> fa-folder</a>
    <a class="fa fa-folder-o"> fa-folder-o</a>
    <a class="fa fa-folder-open"> fa-folder-open</a>
    <a class="fa fa-folder-open-o"> fa-folder-open-o</a>
    <a class="fa fa-font"> fa-font</a>
    <a class="fa fa-forumbee"> fa-forumbee</a>
    <a class="fa fa-forward"> fa-forward</a>
    <a class="fa fa-foursquare"> fa-foursquare</a>
    <a class="fa fa-frown-o"> fa-frown-o</a>
    <a class="fa fa-futbol-o"> fa-futbol-o</a>
    <a class="fa fa-gamepad"> fa-gamepad</a>
    <a class="fa fa-gavel"> fa-gavel</a>
    <a class="fa fa-gbp"> fa-gbp</a>
    <a class="fa fa-ge"> fa-ge</a>
    <a class="fa fa-gear"> fa-gear</a>
    <a class="fa fa-gears"> fa-gears</a>
    <a class="fa fa-genderless"> fa-genderless</a>
    <a class="fa fa-gift"> fa-gift</a>
    <a class="fa fa-git"> fa-git</a>
    <a class="fa fa-git-square"> fa-git-square</a>
    <a class="fa fa-github"> fa-github</a>
    <a class="fa fa-github-alt"> fa-github-alt</a>
    <a class="fa fa-github-square"> fa-github-square</a>
    <a class="fa fa-gittip"> fa-gittip</a>
    <a class="fa fa-glass"> fa-glass</a>
    <a class="fa fa-globe"> fa-globe</a>
    <a class="fa fa-google"> fa-google</a>
    <a class="fa fa-google-plus"> fa-google-plus</a>
    <a class="fa fa-google-plus-square"> fa-google-plus-square</a>
    <a class="fa fa-google-wallet"> fa-google-wallet</a>
    <a class="fa fa-graduation-cap"> fa-graduation-cap</a>
    <a class="fa fa-gratipay"> fa-gratipay</a>
    <a class="fa fa-group"> fa-group</a>
    <a class="fa fa-h-square"> fa-h-square</a>
    <a class="fa fa-hacker-news"> fa-hacker-news</a>
    <a class="fa fa-hand-o-down"> fa-hand-o-down</a>
    <a class="fa fa-hand-o-left"> fa-hand-o-left</a>
    <a class="fa fa-hand-o-right"> fa-hand-o-right</a>
    <a class="fa fa-hand-o-up"> fa-hand-o-up</a>
    <a class="fa fa-hdd-o"> fa-hdd-o</a>
    <a class="fa fa-header"> fa-header</a>
    <a class="fa fa-headphones"> fa-headphones</a>
    <a class="fa fa-heart"> fa-heart</a>
    <a class="fa fa-heart-o"> fa-heart-o</a>
    <a class="fa fa-heartbeat"> fa-heartbeat</a>
    <a class="fa fa-history"> fa-history</a>
    <a class="fa fa-home"> fa-home</a>
    <a class="fa fa-hospital-o"> fa-hospital-o</a>
    <a class="fa fa-hotel"> fa-hotel</a>
    <a class="fa fa-html5"> fa-html5</a>
    <a class="fa fa-ils"> fa-ils</a>
    <a class="fa fa-image"> fa-image</a>
    <a class="fa fa-inbox"> fa-inbox</a>
    <a class="fa fa-indent"> fa-indent</a>
    <a class="fa fa-info"> fa-info</a>
    <a class="fa fa-info-circle"> fa-info-circle</a>
    <a class="fa fa-inr"> fa-inr</a>
    <a class="fa fa-instagram"> fa-instagram</a>
    <a class="fa fa-institution"> fa-institution</a>
    <a class="fa fa-ioxhost"> fa-ioxhost</a>
    <a class="fa fa-italic"> fa-italic</a>
    <a class="fa fa-joomla"> fa-joomla</a>
    <a class="fa fa-jpy"> fa-jpy</a>
    <a class="fa fa-jsfiddle"> fa-jsfiddle</a>
    <a class="fa fa-key"> fa-key</a>
    <a class="fa fa-keyboard-o"> fa-keyboard-o</a>
    <a class="fa fa-krw"> fa-krw</a>
    <a class="fa fa-language"> fa-language</a>
    <a class="fa fa-laptop"> fa-laptop</a>
    <a class="fa fa-lastfm"> fa-lastfm</a>
    <a class="fa fa-lastfm-square"> fa-lastfm-square</a>
    <a class="fa fa-leaf"> fa-leaf</a>
    <a class="fa fa-leanpub"> fa-leanpub</a>
    <a class="fa fa-legal"> fa-legal</a>
    <a class="fa fa-lemon-o"> fa-lemon-o</a>
    <a class="fa fa-level-down"> fa-level-down</a>
    <a class="fa fa-level-up"> fa-level-up</a>
    <a class="fa fa-life-bouy"> fa-life-bouy</a>
    <a class="fa fa-life-buoy"> fa-life-buoy</a>
    <a class="fa fa-life-ring"> fa-life-ring</a>
    <a class="fa fa-life-saver"> fa-life-saver</a>
    <a class="fa fa-lightbulb-o"> fa-lightbulb-o</a>
    <a class="fa fa-line-chart"> fa-line-chart</a>
    <a class="fa fa-link"> fa-link</a>
    <a class="fa fa-linkedin"> fa-linkedin</a>
    <a class="fa fa-linkedin-square"> fa-linkedin-square</a>
    <a class="fa fa-linux"> fa-linux</a>
    <a class="fa fa-list"> fa-list</a>
    <a class="fa fa-list-alt"> fa-list-alt</a>
    <a class="fa fa-list-ol"> fa-list-ol</a>
    <a class="fa fa-list-ul"> fa-list-ul</a>
    <a class="fa fa-location-arrow"> fa-location-arrow</a>
    <a class="fa fa-lock"> fa-lock</a>
    <a class="fa fa-long-arrow-down"> fa-long-arrow-down</a>
    <a class="fa fa-long-arrow-left"> fa-long-arrow-left</a>
    <a class="fa fa-long-arrow-right"> fa-long-arrow-right</a>
    <a class="fa fa-long-arrow-up"> fa-long-arrow-up</a>
    <a class="fa fa-magic"> fa-magic</a>
    <a class="fa fa-magnet"> fa-magnet</a>
    <a class="fa fa-mail-forward"> fa-mail-forward</a>
    <a class="fa fa-mail-reply"> fa-mail-reply</a>
    <a class="fa fa-mail-reply-all"> fa-mail-reply-all</a>
    <a class="fa fa-male"> fa-male</a>
    <a class="fa fa-map-marker"> fa-map-marker</a>
    <a class="fa fa-mars"> fa-mars</a>
    <a class="fa fa-mars-double"> fa-mars-double</a>
    <a class="fa fa-mars-stroke"> fa-mars-stroke</a>
    <a class="fa fa-mars-stroke-h"> fa-mars-stroke-h</a>
    <a class="fa fa-mars-stroke-v"> fa-mars-stroke-v</a>
    <a class="fa fa-maxcdn"> fa-maxcdn</a>
    <a class="fa fa-meanpath"> fa-meanpath</a>
    <a class="fa fa-medium"> fa-medium</a>
    <a class="fa fa-medkit"> fa-medkit</a>
    <a class="fa fa-meh-o"> fa-meh-o</a>
    <a class="fa fa-mercury"> fa-mercury</a>
    <a class="fa fa-microphone"> fa-microphone</a>
    <a class="fa fa-microphone-slash"> fa-microphone-slash</a>
    <a class="fa fa-minus"> fa-minus</a>
    <a class="fa fa-minus-circle"> fa-minus-circle</a>
    <a class="fa fa-minus-square"> fa-minus-square</a>
    <a class="fa fa-minus-square-o"> fa-minus-square-o</a>
    <a class="fa fa-mobile"> fa-mobile</a>
    <a class="fa fa-mobile-phone"> fa-mobile-phone</a>
    <a class="fa fa-money"> fa-money</a>
    <a class="fa fa-moon-o"> fa-moon-o</a>
    <a class="fa fa-mortar-board"> fa-mortar-board</a>
    <a class="fa fa-motorcycle"> fa-motorcycle</a>
    <a class="fa fa-music"> fa-music</a>
    <a class="fa fa-navicon"> fa-navicon</a>
    <a class="fa fa-neuter"> fa-neuter</a>
    <a class="fa fa-newspaper-o"> fa-newspaper-o</a>
    <a class="fa fa-openid"> fa-openid</a>
    <a class="fa fa-outdent"> fa-outdent</a>
    <a class="fa fa-pagelines"> fa-pagelines</a>
    <a class="fa fa-paint-brush"> fa-paint-brush</a>
    <a class="fa fa-paper-plane"> fa-paper-plane</a>
    <a class="fa fa-paper-plane-o"> fa-paper-plane-o</a>
    <a class="fa fa-paperclip"> fa-paperclip</a>
    <a class="fa fa-paragraph"> fa-paragraph</a>
    <a class="fa fa-paste"> fa-paste</a>
    <a class="fa fa-pause"> fa-pause</a>
    <a class="fa fa-paw"> fa-paw</a>
    <a class="fa fa-paypal"> fa-paypal</a>
    <a class="fa fa-pencil"> fa-pencil</a>
    <a class="fa fa-pencil-square"> fa-pencil-square</a>
    <a class="fa fa-pencil-square-o"> fa-pencil-square-o</a>
    <a class="fa fa-phone"> fa-phone</a>
    <a class="fa fa-phone-square"> fa-phone-square</a>
    <a class="fa fa-photo"> fa-photo</a>
    <a class="fa fa-picture-o"> fa-picture-o</a>
    <a class="fa fa-pie-chart"> fa-pie-chart</a>
    <a class="fa fa-pied-piper"> fa-pied-piper</a>
    <a class="fa fa-pied-piper-alt"> fa-pied-piper-alt</a>
    <a class="fa fa-pinterest"> fa-pinterest</a>
    <a class="fa fa-pinterest-p"> fa-pinterest-p</a>
    <a class="fa fa-pinterest-square"> fa-pinterest-square</a>
    <a class="fa fa-plane"> fa-plane</a>
    <a class="fa fa-play"> fa-play</a>
    <a class="fa fa-play-circle"> fa-play-circle</a>
    <a class="fa fa-play-circle-o"> fa-play-circle-o</a>
    <a class="fa fa-plug"> fa-plug</a>
    <a class="fa fa-plus"> fa-plus</a>
    <a class="fa fa-plus-circle"> fa-plus-circle</a>
    <a class="fa fa-plus-square"> fa-plus-square</a>
    <a class="fa fa-plus-square-o"> fa-plus-square-o</a>
    <a class="fa fa-power-off"> fa-power-off</a>
    <a class="fa fa-print"> fa-print</a>
    <a class="fa fa-puzzle-piece"> fa-puzzle-piece</a>
    <a class="fa fa-qq"> fa-qq</a>
    <a class="fa fa-qrcode"> fa-qrcode</a>
    <a class="fa fa-question"> fa-question</a>
    <a class="fa fa-question-circle"> fa-question-circle</a>
    <a class="fa fa-quote-left"> fa-quote-left</a>
    <a class="fa fa-quote-right"> fa-quote-right</a>
    <a class="fa fa-ra"> fa-ra</a>
    <a class="fa fa-random"> fa-random</a>
    <a class="fa fa-rebel"> fa-rebel</a>
    <a class="fa fa-recycle"> fa-recycle</a>
    <a class="fa fa-reddit"> fa-reddit</a>
    <a class="fa fa-reddit-square"> fa-reddit-square</a>
    <a class="fa fa-refresh"> fa-refresh</a>
    <a class="fa fa-remove"> fa-remove</a>
    <a class="fa fa-renren"> fa-renren</a>
    <a class="fa fa-reorder"> fa-reorder</a>
    <a class="fa fa-repeat"> fa-repeat</a>
    <a class="fa fa-reply"> fa-reply</a>
    <a class="fa fa-reply-all"> fa-reply-all</a>
    <a class="fa fa-retweet"> fa-retweet</a>
    <a class="fa fa-rmb"> fa-rmb</a>
    <a class="fa fa-road"> fa-road</a>
    <a class="fa fa-rocket"> fa-rocket</a>
    <a class="fa fa-rotate-left"> fa-rotate-left</a>
    <a class="fa fa-rotate-right"> fa-rotate-right</a>
    <a class="fa fa-rouble"> fa-rouble</a>
    <a class="fa fa-rss"> fa-rss</a>
    <a class="fa fa-rss-square"> fa-rss-square</a>
    <a class="fa fa-rub"> fa-rub</a>
    <a class="fa fa-ruble"> fa-ruble</a>
    <a class="fa fa-rupee"> fa-rupee</a>
    <a class="fa fa-save"> fa-save</a>
    <a class="fa fa-scissors"> fa-scissors</a>
    <a class="fa fa-search"> fa-search</a>
    <a class="fa fa-search-minus"> fa-search-minus</a>
    <a class="fa fa-search-plus"> fa-search-plus</a>
    <a class="fa fa-sellsy"> fa-sellsy</a>
    <a class="fa fa-send"> fa-send</a>
    <a class="fa fa-send-o"> fa-send-o</a>
    <a class="fa fa-server"> fa-server</a>
    <a class="fa fa-share"> fa-share</a>
    <a class="fa fa-share-alt"> fa-share-alt</a>
    <a class="fa fa-share-alt-square"> fa-share-alt-square</a>
    <a class="fa fa-share-square"> fa-share-square</a>
    <a class="fa fa-share-square-o"> fa-share-square-o</a>
    <a class="fa fa-shekel"> fa-shekel</a>
    <a class="fa fa-sheqel"> fa-sheqel</a>
    <a class="fa fa-shield"> fa-shield</a>
    <a class="fa fa-ship"> fa-ship</a>
    <a class="fa fa-shirtsinbulk"> fa-shirtsinbulk</a>
    <a class="fa fa-shopping-cart"> fa-shopping-cart</a>
    <a class="fa fa-sign-in"> fa-sign-in</a>
    <a class="fa fa-sign-out"> fa-sign-out</a>
    <a class="fa fa-signal"> fa-signal</a>
    <a class="fa fa-simplybuilt"> fa-simplybuilt</a>
    <a class="fa fa-sitemap"> fa-sitemap</a>
    <a class="fa fa-skyatlas"> fa-skyatlas</a>
    <a class="fa fa-skype"> fa-skype</a>
    <a class="fa fa-slack"> fa-slack</a>
    <a class="fa fa-sliders"> fa-sliders</a>
    <a class="fa fa-slideshare"> fa-slideshare</a>
    <a class="fa fa-smile-o"> fa-smile-o</a>
    <a class="fa fa-soccer-ball-o"> fa-soccer-ball-o</a>
    <a class="fa fa-sort"> fa-sort</a>
    <a class="fa fa-sort-alpha-asc"> fa-sort-alpha-asc</a>
    <a class="fa fa-sort-alpha-desc"> fa-sort-alpha-desc</a>
    <a class="fa fa-sort-amount-asc"> fa-sort-amount-asc</a>
    <a class="fa fa-sort-amount-desc"> fa-sort-amount-desc</a>
    <a class="fa fa-sort-asc"> fa-sort-asc</a>
    <a class="fa fa-sort-desc"> fa-sort-desc</a>
    <a class="fa fa-sort-down"> fa-sort-down</a>
    <a class="fa fa-sort-numeric-asc"> fa-sort-numeric-asc</a>
    <a class="fa fa-sort-numeric-desc"> fa-sort-numeric-desc</a>
    <a class="fa fa-sort-up"> fa-sort-up</a>
    <a class="fa fa-soundcloud"> fa-soundcloud</a>
    <a class="fa fa-space-shuttle"> fa-space-shuttle</a>
    <a class="fa fa-spinner"> fa-spinner</a>
    <a class="fa fa-spoon"> fa-spoon</a>
    <a class="fa fa-spotify"> fa-spotify</a>
    <a class="fa fa-square"> fa-square</a>
    <a class="fa fa-square-o"> fa-square-o</a>
    <a class="fa fa-stack-exchange"> fa-stack-exchange</a>
    <a class="fa fa-stack-overflow"> fa-stack-overflow</a>
    <a class="fa fa-star"> fa-star</a>
    <a class="fa fa-star-half"> fa-star-half</a>
    <a class="fa fa-star-half-empty"> fa-star-half-empty</a>
    <a class="fa fa-star-half-full"> fa-star-half-full</a>
    <a class="fa fa-star-half-o"> fa-star-half-o</a>
    <a class="fa fa-star-o"> fa-star-o</a>
    <a class="fa fa-steam"> fa-steam</a>
    <a class="fa fa-steam-square"> fa-steam-square</a>
    <a class="fa fa-step-backward"> fa-step-backward</a>
    <a class="fa fa-step-forward"> fa-step-forward</a>
    <a class="fa fa-stethoscope"> fa-stethoscope</a>
    <a class="fa fa-stop"> fa-stop</a>
    <a class="fa fa-street-view"> fa-street-view</a>
    <a class="fa fa-strikethrough"> fa-strikethrough</a>
    <a class="fa fa-stumbleupon"> fa-stumbleupon</a>
    <a class="fa fa-stumbleupon-circle"> fa-stumbleupon-circle</a>
    <a class="fa fa-subscript"> fa-subscript</a>
    <a class="fa fa-subway"> fa-subway</a>
    <a class="fa fa-suitcase"> fa-suitcase</a>
    <a class="fa fa-sun-o"> fa-sun-o</a>
    <a class="fa fa-superscript"> fa-superscript</a>
    <a class="fa fa-support"> fa-support</a>
    <a class="fa fa-table"> fa-table</a>
    <a class="fa fa-tablet"> fa-tablet</a>
    <a class="fa fa-tachometer"> fa-tachometer</a>
    <a class="fa fa-tag"> fa-tag</a>
    <a class="fa fa-tags"> fa-tags</a>
    <a class="fa fa-tasks"> fa-tasks</a>
    <a class="fa fa-taxi"> fa-taxi</a>
    <a class="fa fa-tencent-weibo"> fa-tencent-weibo</a>
    <a class="fa fa-terminal"> fa-terminal</a>
    <a class="fa fa-text-height"> fa-text-height</a>
    <a class="fa fa-text-width"> fa-text-width</a>
    <a class="fa fa-th"> fa-th</a>
    <a class="fa fa-th-large"> fa-th-large</a>
    <a class="fa fa-th-list"> fa-th-list</a>
    <a class="fa fa-thumb-tack"> fa-thumb-tack</a>
    <a class="fa fa-thumbs-down"> fa-thumbs-down</a>
    <a class="fa fa-thumbs-o-down"> fa-thumbs-o-down</a>
    <a class="fa fa-thumbs-o-up"> fa-thumbs-o-up</a>
    <a class="fa fa-thumbs-up"> fa-thumbs-up</a>
    <a class="fa fa-ticket"> fa-ticket</a>
    <a class="fa fa-times"> fa-times</a>
    <a class="fa fa-times-circle"> fa-times-circle</a>
    <a class="fa fa-times-circle-o"> fa-times-circle-o</a>
    <a class="fa fa-tint"> fa-tint</a>
    <a class="fa fa-toggle-down"> fa-toggle-down</a>
    <a class="fa fa-toggle-left"> fa-toggle-left</a>
    <a class="fa fa-toggle-off"> fa-toggle-off</a>
    <a class="fa fa-toggle-on"> fa-toggle-on</a>
    <a class="fa fa-toggle-right"> fa-toggle-right</a>
    <a class="fa fa-toggle-up"> fa-toggle-up</a>
    <a class="fa fa-train"> fa-train</a>
    <a class="fa fa-transgender"> fa-transgender</a>
    <a class="fa fa-transgender-alt"> fa-transgender-alt</a>
    <a class="fa fa-trash"> fa-trash</a>
    <a class="fa fa-trash-o"> fa-trash-o</a>
    <a class="fa fa-tree"> fa-tree</a>
    <a class="fa fa-trello"> fa-trello</a>
    <a class="fa fa-trophy"> fa-trophy</a>
    <a class="fa fa-truck"> fa-truck</a>
    <a class="fa fa-try"> fa-try</a>
    <a class="fa fa-tty"> fa-tty</a>
    <a class="fa fa-tumblr"> fa-tumblr</a>
    <a class="fa fa-tumblr-square"> fa-tumblr-square</a>
    <a class="fa fa-turkish-lira"> fa-turkish-lira</a>
    <a class="fa fa-twitch"> fa-twitch</a>
    <a class="fa fa-twitter"> fa-twitter</a>
    <a class="fa fa-twitter-square"> fa-twitter-square</a>
    <a class="fa fa-umbrella"> fa-umbrella</a>
    <a class="fa fa-underline"> fa-underline</a>
    <a class="fa fa-undo"> fa-undo</a>
    <a class="fa fa-university"> fa-university</a>
    <a class="fa fa-unlink"> fa-unlink</a>
    <a class="fa fa-unlock"> fa-unlock</a>
    <a class="fa fa-unlock-alt"> fa-unlock-alt</a>
    <a class="fa fa-unsorted"> fa-unsorted</a>
    <a class="fa fa-upload"> fa-upload</a>
    <a class="fa fa-usd"> fa-usd</a>
    <a class="fa fa-user"> fa-user</a>
    <a class="fa fa-user-md"> fa-user-md</a>
    <a class="fa fa-user-plus"> fa-user-plus</a>
    <a class="fa fa-user-secret"> fa-user-secret</a>
    <a class="fa fa-user-times"> fa-user-times</a>
    <a class="fa fa-users"> fa-users</a>
    <a class="fa fa-venus"> fa-venus</a>
    <a class="fa fa-venus-double"> fa-venus-double</a>
    <a class="fa fa-venus-mars"> fa-venus-mars</a>
    <a class="fa fa-viacoin"> fa-viacoin</a>
    <a class="fa fa-video-camera"> fa-video-camera</a>
    <a class="fa fa-vimeo-square"> fa-vimeo-square</a>
    <a class="fa fa-vine"> fa-vine</a>
    <a class="fa fa-vk"> fa-vk</a>
    <a class="fa fa-volume-down"> fa-volume-down</a>
    <a class="fa fa-volume-off"> fa-volume-off</a>
    <a class="fa fa-volume-up"> fa-volume-up</a>
    <a class="fa fa-warning"> fa-warning</a>
    <a class="fa fa-wechat"> fa-wechat</a>
    <a class="fa fa-weibo"> fa-weibo</a>
    <a class="fa fa-weixin"> fa-weixin</a>
    <a class="fa fa-whatsapp"> fa-whatsapp</a>
    <a class="fa fa-wheelchair"> fa-wheelchair</a>
    <a class="fa fa-wifi"> fa-wifi</a>
    <a class="fa fa-windows"> fa-windows</a>
    <a class="fa fa-won"> fa-won</a>
    <a class="fa fa-wordpress"> fa-wordpress</a>
    <a class="fa fa-wrench"> fa-wrench</a>
    <a class="fa fa-xing"> fa-xing</a>
    <a class="fa fa-xing-square"> fa-xing-square</a>
    <a class="fa fa-yahoo"> fa-yahoo</a>
    <a class="fa fa-yelp"> fa-yelp</a>
    <a class="fa fa-yen"> fa-yen</a>
    <a class="fa fa-youtube"> fa-youtube</a>
    <a class="fa fa-youtube-play"> fa-youtube-play</a>
    <a class="fa fa-youtube-square"> fa-youtube-square</a>
</div>
<script type="text/javascript">
    $(function(){
        $('.icon-row a').dblclick(function(){
            parent.select_icon = $.trim($(this).html());
            parent.dgWidows.dialog('destroy');
        });
    })
</script>