<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>管理平台</title>
    <script src="/public/common/jquery.min.js"></script>
    <script src="/public/common/public.js"></script>
    <script src="/public/common/json2.js"></script>
    <script src="/public/admin/js/easyui.js"></script>
	<!--[if lt IE 9]>
    <link rel="stylesheet" href="/public/admin/style/ie.css">
    <![endif]-->
</head>
<body>