<include file="Public:header"/>
<div class="content">
    <div class="main">
        <div class="loginBox miniBox">
        	<h2>会员登录</h2>
        	<form method="post" name="login" action="{:U('passport/login')}" onSubmit="return checkLogin(this)">
	        	<ul>
	        		<li>
	        			<label>邮箱：</label>
	        			<input type="text" class="textbox" name="email" size="30">
	        		</li>
	        		<li>
	        			<label>密码：</label>
	        			<input type="password" class="textbox" name="password" size="30">
	        		</li>
	        		<li>
	        			<br>
	        			<label></label>
	        			<input type="submit" class="button" value="立即登录">
	        		</li>
	        	</ul>

        	</form>
    	</div>
    	<div class="registerBox miniBox">
        	<h2>会员注册</h2>
        	<form method="post" name="login" action="{:U('passport/register')}" onSubmit="return checkRegister(this)">
	        	<ul>
	        		<li>
	        			<label>邮箱：</label>
	        			<input type="text" class="textbox" name="email" size="30">
	        		</li>
	        		<li>
	        			<label>密码：</label>
	        			<input type="password" class="textbox" name="password" size="30">
	        		</li>
	        		<li>
	        			<label>再次输入密码：</label>
	        			<input type="password" class="textbox" name="rpassword" size="30">
	        		</li>
	        		<li>
	        			<br>
	        			<label></label>
	        			<input type="submit" class="button" value="立即注册">
	        		</li>
	        	</ul>
        	</form>
    	</div>
    	<div class="clear"></div>
    </div>
</div>
<script type="text/javascript">
function checkLogin(form) {
	if(form.email.value == '') {
		alert('请输入登录邮箱！');
		return false;
	}
	if(form.password.value == '') {
		alert('请输入登录密码！');
		return false;
	}
	return true;
}

function checkRegister(form) {
	if(form.email.value == '') {
		alert('请输入邮箱！');
		return false;
	}
	if(form.password.value == '') {
		alert('请输入密码！');
		return false;
	}
	if(form.rpassword.value == '') {
		alert('请再次输入密码！');
		return false;
	}
	if(form.password.value != form.rpassword.value) {
		alert('两次输入的密码不一致，请重新输入！');
		return false;
	}
	return true;
}

</script>
<include file="Public:footer"/>