<div id="toolbar" class="form-panel">
    <table>
        <tr>
            <td>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="openWindow(this, {})">添加</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="deleteItems(this)">删除</a>
            </td>
            </td>
            <th>关键词：</th>
            <td>
                <input name="keywords" class="easyui-textbox" data-options="buttonText:'查询',prompt:'请输入关键词',onClickButton: function(){searchItem()}">
            </td>
        </tr>
    </table>
</div>
