<div class="datagrid-toolbar form-panel">
    <table>
        <tr>
            <td width="100%">
                <a class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="onOpen()">添加</a>
                <a class="datagrid-btn-separator"></a>
                <a class="easyui-linkbutton" iconCls="icon-ok" plain="true" onclick="onLock(0)">允许登录</a>
                <a class="easyui-linkbutton" iconCls="icon-lock" plain="true" onclick="onLock(1)">禁止登录</a>
                <a class="datagrid-btn-separator"></a>
                <a class="easyui-linkbutton" iconCls="icon-print" plain="true" onclick="onLog()">查看日志</a>
            </td>
            <td>
                <input name="keyword" class="easyui-textbox" data-options="buttonText:' 搜索 ',prompt:'请输入关键词...',buttonIcon:'icon-search',onClickButton: onSearch" style="width:250px;">
            </td>
        </tr>
    </table>
</div>
<div class="content-layout">
    <table id="grid" title="员工列表">
        <thead>
        <tr>
            <th data-options="field:'ck',checkbox:true"></th>
            <th data-options="field:'user_name',width:120, sortable:true">登录账号</th>
            <th data-options="field:'real_name',width:120">真实姓名</th>
            <th data-options="field:'group_name',width:120">所在组别</th>
            <th data-options="field:'role_name',width:120">角色</th>
            <th data-options="field:'sex',width:50,formatter:function(value){
        return value == '1'  ? '男' : '女';}">性别</th>
            <th data-options="field:'locked',width:60, align:'center',formatter:function(value){
        return value==1?'是':'否';}">禁止登录</th>
            <th data-options="field:'create_time',width:120, sortable:true">添加时间</th>
            <th data-options="field:'update_time',width:120, sortable:true">更新时间</th>
        </tr>
        </thead>
    </table>
</div>
<script type="text/javascript">
    var grid = $('#grid');
    $(function() {
        grid.datagrid({
            url: location.href,
            height: 350,
            width: '100%',
            pagination: true,
            fitColumns: true,
            singleSelect:true,
            rownumbers:true,
            selectOnCheck:false,
            checkOnSelect: false,
            onDblClickRow: function(index, node){
                onOpen(node);
            }
        });
    });

    function onSearch() {
        grid.datagrid({
            queryParams: {
                keyword: $(this).val()
            }
        });
    }

    function onOpen(node){
        var opts = {
            href: '{:U("form")}',
            width: 600,
            height: 400,
            data: node,
            handler: function(result){
                grid.datagrid('reload');
            }
        };
        easyui.dialog(opts);
    }

    function onLock(locked){
        var rows = grid.datagrid('getChecked');
        var items = [];
        for(var i = 0; i < rows.length; i++){
            items.push(rows[i].user_id);
        }
        items = items.join(',');
        if(empty(items)){
            easyui.alert('请选择需要操作的管理员！');
            return false;
        }
        easyui.confirm('请再次确认是否需要继续进行您的操作!', function(){
            easyui.post('{:U("lock")}', {item_id: items, locked: locked}, function(result){
                try{
                    if(result.info){
                        easyui.alert(result.info);
                    }
                    if(!result.status) return false;
                    grid.datagrid('reload');
                }catch (e){}
            });
        });
    }
</script>