<img src="/template/style/images/2010216113725854.jpg" width="200" height="200" class="topic_thumb">
<button class="button answerbutton">正确答案</button>
<div class="topic_title">
    问题1：这周是第几周
</div>
<ul class="topic_item">
    <li>
        A.周一坑爹
    </li>
    <li>
        B.周一坑爹
    </li>
    <li>
        C.周一坑爹
    </li>
    <li>
        D.周一坑爹
    </li>
</ul>
<div class="topic_tips" style="display:none">
    <p>当前状态</p>
    <div class="select_box">
        <label>正确：</label>
        <label>错误：</label>
        <label>已答：</label>
        <label>总计：</label>
    </div>
</div>